<mat-nav-list class="sidenav-list">
    <div class="main-nav">
        <a mat-list-item routerLink="/login" (click)="onSidenavItemClick()">
            <mat-icon>login</mat-icon>
            <span class="nav-caption">Login</span>
        </a>

        <a mat-list-item (click)="onSidenavItemClick()" >
            <mat-icon>home</mat-icon>
            <span class="nav-caption">Home</span>
        </a>

        <div >
            <a mat-list-item routerLink="/users" (click)="onSidenavItemClick()" >
                <mat-icon>group</mat-icon>
                <span class="nav-caption">Benutzerliste</span>
            </a>
        </div>
    </div>

    <div class="footer-nav">
        <mat-divider [inset]="false"></mat-divider>

        <a mat-list-item routerLink="/info" (click)="onSidenavItemClick()">
            <mat-icon>info</mat-icon>
            <span class="nav-caption">Info</span>
        </a>
    
        <a mat-list-item routerLink="/" (click)="onLogoutClick()" >
            <mat-icon>exit_to_app</mat-icon>
            <span class="nav-caption">Abmelden</span>
        </a>
    </div>
</mat-nav-list>