
.toolbar-title {
    color: white;
    text-decoration: none;
}

.sidenav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
    color: black;
    width: 100%;
}

.example-item {
    height: 50px;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
